/******************************************************************
STYLING
******************************************************************/
body, html, #container, .timer {
	height: 100%;
}

.timer {
	position: relative;
	
	.add-slip, .track-time {
		position: relative;
		padding: 5% 10%;
		min-height: 200px;
		background: $dark;
		color: $dark-gray;

		@include experimental(animation-duration, 0.4s);

		.instructions {
			position: absolute;
			width: 80%;
			bottom: 10%;
		}
	}

	.add-slip button { display: block; margin-top: 25%; }

	.track-time {
		.desc { font-size: 17px; }
		
		time {
			display: block;
			width: 100%;
			
			margin-top: -4px;
			margin-bottom: 10px;
			
			font-weight: bold;
			line-height: 1em;
			text-rendering: optimizeLegibility;
			color: white;
		}
	}
}

.slips {
	width: 100%;
	font: lighter 1em/1.1 'Helvetica Neue' sans-serif;
	color: #898989;

	border-bottom: thin solid #ddd;

	th, td {
		padding: 1.25em 1.5em;
		&:last-child { width: 33%; }
		@include ellipsis();
	}

	th { padding-top: .5em; padding-bottom: .5em; }

	thead {
		position: relative;
		z-index: 999;

		border-bottom: thin solid #111;

		th {
			text-align: left;
			text-shadow: 0 1px 0 #777;
			color: #252525;
			@include background-image(linear-gradient(#666, #333));
			@include box-shadow(-1px 0 0 #222);
			
			&:last-child {
				border-left: thin solid #666;
			}
		}
	}

	tbody {
		tr {
			background: white;
			&:nth-child(even) { 
				background: #f2f2f2; 

				td:last-child {
					border-color: #ddd;
				}
			}
		}

		td {
			&:last-child {
				border-left: thin solid #eee;
			}
		}
	}
}

/******************************************************************
LAYOUT
******************************************************************/
.timer {
	@extend .clearfix;
}

.track-time, .add-slip {
	@include box-sizing(border-box);
	
	@include breakpoint(tablet-horizontal) {
		float: left;
		width: 66.7%;
		min-height: 100% !important;
	}
}

.slips {
	@include box-sizing(border-box);

	@include breakpoint(tablet-horizontal) {
		float: right;
		width: 33.3%;
	}	
}