.timer {
	position: relative;
	
	.add-slip, .track-time {
		position: relative;
		padding: 5% 10%;
		min-height: 200px;
		background: $dark;
		color: $dark-gray;

		@include experimental(animation-duration, 0.4s);

		.instructions {
			position: absolute;
			width: 80%;
			bottom: 10%;
		}
	}

	.add-slip button { display: block; margin-top: 25%; }

	.track-time {
		.desc { font-size: 17px; }
		
		time {
			display: block;
			width: 100%;
			
			margin-top: -4px;
			margin-bottom: 10px;
			
			font-weight: bold;
			line-height: 1em;
			text-rendering: optimizeLegibility;
			color: white;
		}
	}

}

.slips {
	font: lighter 1em/1.1 'Helvetica Neue' sans-serif;

	li {
		padding: 1.5em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}