button {
	display:inline-block;
	
	width: 100%;
	
	color: white;
	font-family: sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 0 1px 1px #306108;
	
	padding:10px 24px;
	
	@include box-shadow(0px 1px 0px 0px black);
	@include background-image(linear-gradient(#77d42a 5%, #5cb811 100%));
	
	@include border-radius(6px);
	border:1px solid #268a16;

	&:hover { @include background-image(linear-gradient(#5cb811 5%, #77d42a 100%)); }
	
	&:active {
		position:relative;
		top:1px;
	}

	&.red {
		@include background-image(linear-gradient(#fe1a00 5%, #ce0100 100%));
		color: white;

		&:hover { @include background-image(linear-gradient(#ce0100 5%, #fe1a00 100%)); }
	}

	&.silver {
		@include background-image(linear-gradient(#ededed 5%, #dfdfdf 100%));
		color: white;
		
		&:hover { @include background-image(linear-gradient(#dfdfdf 5%, #ededed 100%)); }
	}
}