button {
	display:inline-block;
	
	width: 100%;
	
	color: white;
	font-family: sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 0 1px 1px #306108;
	
	padding:10px 24px;
	
	@include box-shadow(0px 1px 0px 0px black);
	@include background-image(linear-gradient(#77d42a 5%, #5cb811 100%));
	
	@include border-radius(6px);
	border:1px solid #268a16;

	&:hover { @include background-image(linear-gradient(lighten(#77d42a, 5%) 5%, lighten(#5cb811, 5%) 100%)); }
	&:active { @include background-image(linear-gradient(#5cb811 5%, #77d42a 100%)); position:relative; top:1px; }

	&.red {
		@include background-image(linear-gradient(#fe1a00 5%, #ce0100 100%));
		border:1px solid #fe1a00;

		color: #333;
		text-shadow: 0 1px 1px lighten(#fe1a00, 20%);
		&:hover { @include background-image(linear-gradient(lighten(#fe1a00, 5%) 5%, lighten(#ce0100, 5%) 100%)); }
		&:active { @include background-image(linear-gradient(#ce0100 5%, #fe1a00 100%)); }
	}

	&.silver {
		@include background-image(linear-gradient(#f9f9f9 5%, #cecece 100%));
		border:1px solid #f9f9f9;

		color: #444;
		text-shadow: 0 1px 1px white;
		&:hover { @include background-image(linear-gradient(lighten(#dfdfdf, 5%) 5%, lighten(#ededed, 5%) 100%)); }
		&:active { @include background-image(linear-gradient(#ededed 5%, #dfdfdf 100%)); }
	}
}